# Handle line endings automatically for files detected as text 
# and move all to LF on check-in
* text=auto eol=lf

# Explicitly ensure configuration and environment files always use LF
*.env* text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.tsx text eol=lf