# Forces Expo-friendly react inside the mobile package scope
overrides.@apps/mobile>react=19.2.3
overrides.@apps/mobile>react-dom=19.2.3

# Forces Next.js-friendly react inside the web package scope
overrides.@packages/web>react=19.2.7
overrides.@packages/web>react-dom=19.2.7